body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.aquariumAttr {
  background-color: aquamarine;
  width:120px;
}

form
{
  color:blue;
  position:relative;
  left:100px;
}
